<h2 class="sub-header">About: <%= link_to @result['RDF']['Ontology']['store'], @result['RDF']['Store']['rdf:about'] %></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @result['RDF']['Store'].each do |key, value| %>
        <tr>
          <td><a href="<%= Vocabulary.property[key] %>"><%= key %></a></td>
          <td>
            <%= auto_html(value) if value.kind_of?(String) %>
            <% value = [value] if value.is_a?(Hash) %>
            <% if value.kind_of?(Array) %>
              <% value.each do |value| %>
                <% if value.kind_of?(String) %>
                  <li><%= value %></li>
                <% else %>
                  <% value.each do |k, v| %>
                    <li><%= k %> <%= auto_html(v) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
