<%= form_tag({controller: "countries", action: "create"}) do %>
  <div class="form-group">
    <label for="country">Country</label>
    <%= text_field_tag :country, params[:country], placeholder: "Country", class: "form-control", id: "country" %>
  </div>
  <%= submit_tag "Submit", :name => nil %>
<% end %>
