<%= form_tag(resources_products_path, class: "form-inline", method: :get) do %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= text_field_tag :name, params[:name], placeholder: "Name", class: "form-control", id: "name" %>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <%= text_field_tag :country, params[:country], placeholder: "Country", class: "form-control", id: "country" %>
  </div>
  <div class="form-group">
    <label for="hasAllergen">Allergen</label>
    <%= text_field_tag :hasAllergen, params[:hasAllergen], placeholder: "Allergen", class: "form-control", id: "hasAllergen" %>
  </div>
  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
<% end %>

<% if @result.any? %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Resources</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |product| %>
        <tr>
          <td><%= link_to product, product %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
