<%= form_tag({controller: "products", action: "create"}) do %>
  <div class="form-group">
    <label for="countries">Countries</label>
    <%= select_tag :county, options_for_select(@countries), multiple: true, class: "form-control", id: "countries" %>
  </div>
  <div class="form-group">
    <label for="allergens">Allergens</label>
    <%= select_tag :allergens, options_for_select(@allergens), multiple: true, class: "form-control", id: "allergens" %>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <%= text_field_tag :name, params[:name], placeholder: "Name", class: "form-control", id: "name" %>
  </div>
  <div class="form-group">
    <label for="trace">Trace</label>
    <%= text_field_tag :trace, params[:trace], placeholder: "Trace", class: "form-control", id: "trace" %>
  </div>
  <%= submit_tag "Submit", :name => nil %>
<% end %>
