<!DOCTYPE html>
<html>
  <head>
    <title>KitchenRevolutions</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Kitchen Revolutions</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li class="<%= 'active' if params[:controller] == 'products' %>"><a href="<%= Vocabulary.product %>">Products</a></li>
            <li class="<%= 'active' if params[:controller] == 'allergens' %>"><a href="<%= Vocabulary.allergen %>">Allergens</a></li>
            <li class="<%= 'active' if params[:controller] == 'countries' %>"><a href="<%= Vocabulary.country %>">Countries</a></li>
          </ul>
        </nav>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
